@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Fondos */
    --background-primary:#00070e; /*Fondo primario*/
    --backgorund-secondary:#000000; /* fondo secundario */
    --background-casual:#4646463b;
    /* Success */
    --background-success:rgb(20, 90, 20);
    --border-success: rgb(20, 90, 20);
    /* danger / error */
    --background-error:rgb(70, 15, 15);
    --border-error: rgb(105, 21, 21);

    /* Header text */
    --text-header-color:black;

    /* texto */
    --text-primary:white;
    --text-primary-secondary:rgb(197, 195, 195);
    --text-primary-invert:black;

    /* botones */
    --button-primary:white;
    --button-secondary:rgba(24, 24, 24, 0.644);
    --button-primary-active:white;
    --button-danger:rgb(126, 28, 28);
    --button-succes:rgb(33, 182, 33);
    --button-info:rgb(16, 112, 129);

    /* border */
    --border-color-primary:rgba(75, 74, 74, 0.678);
    

    /* task */

    --border-card-color:rgba(128, 128, 128, 0.24);
    --card-text-color:white;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    position: relative;
}
body{
    background-image: radial-gradient(circle,rgb(7, 29, 41) 0%, rgba(0, 0, 0, 1) 52%, rgb(15, 3, 14) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100vh;
}

/* Links */
a{
    text-decoration: none;
    color:var(--text-header-color) ;
}
/* text */
.text-primary{
    color: var(--text-primary);
}
.title{
    font-size: 1.5rem;
}
/* Icons */
.i-sm{
    font-size: small;
}
.i-md{
    font-size: medium;
}
.i-lg{
    font-size: larger;
}

.blur-card{
    background-color: rgba(236, 236, 236, 0.021);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px -2px rgba(252, 252, 252, 0.5);
    margin: 1rem;
    border-radius: .5em;
}

#conteiner-main{
    width: 100%;
    /* background-image: url("./assets/gradientBackground.svg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 1em;
}
/* Header */

.header-content{
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 1.2rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: rgba(41, 40, 40, 0.253);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}
.header-options{
    gap: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header-options > a{
    color: var(--text-primary);
}


/* Main */
.main-conteiner{
    /* background-color: var(--background-casual); */
    background-color: rgba(236, 236, 236, 0.021);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px -2px rgba(252, 252, 252, 0.5);
    flex: 1;
    margin: 1rem;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
}


/* button task */
.add-button{
    padding: .5em;
    background-color: var(--button-primary);
    border: none;
    color: var(--text-primary-invert);
    border-radius: .2em;
    transition: scale 200ms,filter 200ms;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .2em;
    font-size: .9rem;
    font-weight: 500;
    
}
.add-button:active{
    filter: brightness(0.5);
    scale: .98;
}
/* height */
.h-full{
    height: 100%;
}
/* flex */
.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.align-start{
    align-items: start;
}
.alend-end{
    align-items: end;
}   
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}

.gap-sm{
    gap: .5em;
}
.gap-md{
    gap: 1em;
}
.gap-lg{
    gap: 1.5em;
}

/* Task  */
.tasks{
    flex: 1;
}

.tasks-layout{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    transition: all 200ms linear;
    overflow: hidden;
    background-position: center;
    background-size: 100%;
    position: relative;
    
}
.col-layout{
    flex-direction: column;
}
.col-layout>div>div:last-child{
    align-items: center;
}
.row-layout{
    flex-direction: row;
}


.tasks-layout>div{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.tasks-layout>div>div:last-child{
    /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%232b2b3100'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linecap='square' stroke-width='0.5' stroke='%23ffffff5a' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-40,-2)' fill='url(%23a)'/></svg>"); */
    /* background-color: #545454; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.15'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-position: -21.5% -1.65%;
    gap: .5em;
    min-height: 80vh;
    height: 100%;
    flex: 1;
    border: 1px solid var(--border-color-primary);
    border-radius: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .2em;
    padding-right: .2em;
    gap: .5em;
    min-width: 300px;
    align-items: center;
}
.tasks-layout

.task-header{
    text-align: center;
    color: var(--text-primary);
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.task-header>button{
    width: 30px;
    padding-left: .2em;
    padding-right: .2em;
}
.task-header>*{
    font-weight: 400;
    font-size: x-large;
}



.task-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.task-menu{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

/* Task Card */

.card-task{
    user-select: none;
    max-width: 500px;
    background-color: rgb(12, 12, 12);
    border: 1px solid var(--border-card-color);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: grab;
    gap: .2em;
    padding: 1em;
    animation: opacity-scale 500ms ease-in-out;
}
.card-placeholder {
    background: rgba(0,0,0,0.1);
    /* max-width: 500px; */
    flex: 1;
    width: 100%;
    border: 2px dashed #aaa;
}
.card-task-header{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.card-task>div>.date{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    color: var(--text-primary-secondary);
    font-size: small;
}
.pdf-link{
    color: rgb(212, 104, 104);
    transition: color 200ms linear;
}
.pdf-link:hover{
    color: rgba(247, 53, 53, 0.733);
}
.img-link{
    color: rgba(0, 255, 255, 0.479);
    transition: color 200ms linear;
}
.img-link:hover{
    color: cyan;
}
.card-task-other{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
}
.card-task-content{
    overflow: hidden;
    color: var(--card-text-color);
    padding-top: 1em;
    padding-bottom: 1em;
}
.card-task> p , h1, h2, h3 {
    color: var(--card-text-color);
}

.dragging{
    position: absolute;
    top: 0;
    left: 0;
}

.card-task-details{
    --line: 5;
    display: -webkit-box;
    display: -moz-box;
    hyphens: auto;
    line-clamp: var(--line);
    -webkit-line-clamp: var(--line);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-task-btn-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    gap: .5em;
}



#form-task{
    flex: 1;
    padding: 1em;  
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

#form-inputs-content{
    display: flex;
    flex-direction: column;
}

/* Modal */

.modal{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.596);
    transition: all 200ms linear;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.modal > button{
    position: absolute;
    top:5px;
    left: 5px;
    z-index: 1;
}

.modal[data-show]{
    opacity: 1;
    visibility: visible;    
}
.modal-content{
    max-width: 650px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-radius: .4em;
    flex: 1;
}
.modal-custom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal[data-show] > .modal-content{
    animation: slider-from-bottom 500ms forwards; 
}

.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap:1em;
    padding: 1em;
}

/* Form */

.form-control{
    margin-top: .2em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.form-control> label{
    font-weight: 500;
}

.form-control> input, textarea{
    background: rgba(255, 255, 255, 0.562);
    padding: .5em;
    border: 1px solid rgba(0, 0, 0, 0.562);
    border-radius: .2em;
    transition: all 200ms linear;
}
.form-control> input:active ,input:focus , textarea:active,text:focus{
    border: 1px solid transparent;
    outline: 2px solid rgb(14, 4, 71);
}
.form-control> textarea{
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
    height: 100px;
}

.form-task-header{
    display: flex;
    align-items: center;
    gap: 1em;
    
}


/* select */
.select-content>span{
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-select-custom{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    align-items: center;
    padding: .2em;
    gap: .5em;
}
.select-content[show]>.btn-select-custom>i{
    transform: rotate(-180deg);
}
.btn-select-custom>i{
    color: var(--text-primary);
    transition: transform 200ms linear;
    font-size: .5rem;
}
.select-btn{
    cursor: pointer;
    width: 100%;
    flex: 1;
    background: transparent;
    color: var(--text-primary);
    border: none;
    height: 100%;

}
.select-content[show]>.select{
    opacity: 1;
    visibility: visible;
    z-index: 9;
}
.select-content[show]>span{
    visibility: visible;
    z-index: 8;
}
.select{
    position: absolute;
    list-style: none;
    background: #000000a9;
    backdrop-filter: blur(10px);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(163, 163, 163, 0.274);
    border-radius: .3em;
    top: 110%;
    transition: all 200ms linear;;
    opacity: 0;
}

.select[show]{
    opacity: 1;
    visibility: visible;
}

.select>li{
    display: flex;
    flex: 1;
}
.select>li>button{
    cursor: pointer;
    padding: .5em;
    text-align: start;
    flex: 1;
    background: transparent;
    color: var(--text-primary);
    border: none;
    transition: background 200ms linear,border-radius 200ms linear;
}

.select>li>button:hover{
    border-radius: .5em;
    background-color: #000000;
}

/* input */

.input-base{
    border: none;
    background: transparent;
    border-bottom: 2px solid rgba(97, 97, 97, 0.411);
    padding: .5em;
    outline: none;
    font-size: 1rem;
    transition: border 200ms linear;
    appearance: none;
    color: var(--text-primary);
}
.input-base:focus{
    outline: none;
    border: none;
    border-bottom:2px solid rgba(137, 6, 245, 0.377);
}

/* button's */

.btn{
    border: none;
    cursor: pointer;
    border-radius: .2em;
    background: transparent;
}
.btn:active{
    filter: brightness(0.5);
}

.btn-primary{
    padding: .5em;
    background-color: var(--button-primary);
    border: none;
    color: var(--text-primary-invert);
    border-radius: .2em;
    transition: scale 200ms,filter 200ms;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .2em;
    font-size: .9rem;
    font-weight: 500;
}
.btn-info{
    color: var(--text-primary);
    background-color: var(--button-info);
    transition: filter 200ms linear;
}
.btn-secondary{
    color: var(--text-primary);
    background-color: var(--button-secondary);
    transition: filter 200ms linear;
}
.btn-danger{
    color: var(--text-primary);
    background-color: var(--button-danger);
    transition: filter 200ms linear;
}
.btn-succes{
    color: var(--text-primary);
    background-color: var(--button-succes);
}

/* Border radius */

.rounded{
    border-radius: 50%;
}


/* divider */

.divider{
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
    /* flex: 1; */
    width: 100%;
    height: 1px;
    background-color: var(--border-color-primary);
}
/* padding */
.p-sm{
    padding: .2em;
}
.p-md{
    padding: 1em;
}
.p-lg{
    padding: 1.5em;
}

/* margin */
.m-sm{
    margin: .2em;
}
.m-md{
    margin: 1em;
}
.m-lg{
    margin: 1.5em;
}
/* placement */
.top-right{
    top: 0;
    right: 0;
}
.top-left{
    top: 0;
    left: 0;
}
.bottom-right{
    bottom: 0;
    right: 0;
}
.bottom-left{
    bottom: 0;
    left: 0;
}
.bottom-center{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.top-center{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.center{
    left: 50%;
    top: 50%;
    transform: translateX(-50%,-50%);
}

/* TOAST */

.toast-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: .5em;
    padding: 1em 2em 2em 1em;
    z-index: 1;
}
.toast-message{
    display: flex;
    gap: .5em;
    align-items: center;
    min-height: 50px;
    max-width: 300px;
    position: relative;
    border-radius: .5em;
    padding: .5em;
    background-color: rgb(0, 0, 0);
    color: var(--text-primary);
    z-index: 999 !important;
    transition: scale 200ms linear;
    border-width:1px;
    border-style: solid;
    animation: moveToTop 200ms linear;
}
.toast-message>i{
    color: rgba(255, 255, 255, 0.404);
}
.toast-message:hover .toast-close{
    visibility: visible;
}
.toast-success{
    background-color: var(--background-success);
    border-color: var(--border-success);
}
.toast-error{
    background-color: var(--background-error);
    border-color: var(--border-error);
}
.toast-message:hover{
    scale: 1.1;
}
.toast-close{
    background-color: inherit;
    visibility: hidden;
    position: absolute;
    color: var(--text-primary);
    border: none;
    top: -10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.308);
    right: -10px;
    border-radius: 50%;
    padding: .2em;
    font-size: .8rem;
    width: 20px;
    transition: filter 200ms linear;
    cursor: pointer;
}
.toast-close:hover{
    filter: brightness(0.5);
}

/* Animation */


@keyframes slider-from-bottom {
    0%{
        opacity: 0;
        scale: 0;
        transform: translateY(100%) inherit;
    }
    100%{
        scale: 1;
        opacity: 1;
        transform: translateY(0%) inherit;
    }
}


@keyframes slide-from-right {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slide-from-left {
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes opacity-scale {
    from{
        scale:0.5;
        opacity: 0;
    }
    to{
        scale:1;
        opacity: 1;
    }
}

@keyframes moveToTop{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}